#root {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  background-color: rgb(12, 12, 24);

}

table 
{
    table-layout:fixed;
    width:100%;
}


.card{
  border: 2px solid skyblue;
  box-shadow: 5px 5px 15px rgb(63, 138, 141);
  background-color: rgb(190, 189, 189);

}
.card:hover {
  box-shadow: 10px 10px 15px rgb(50, 128, 131);
  transition: 0.2s;
}
